//* media
$minphoneMax: 319px;
$minphoneMin: 320px;
//**/

$phoneMax: 479px;
$phoneMin: 480px;
//******/
$tabletMax: 767px;
$tabletMin: 768px;
//******/
$desktopMax: 1199px;
$desktopMin: 1200px;
/**
//* Phone
*/

@mixin maxW-minPhone {
  @media screen and (max-width: $minphoneMax) {
    @content;
  }
}
@mixin minW-minPhone {
  @media screen and (max-width: $minphoneMin) {
    @content;
  }
}

@mixin maxW-Phone {
  @media screen and (max-width: $phoneMax) {
    @content;
  }
}

@mixin minW-Phone {
  @media screen and (min-width: $phoneMin) {
    @content;
  }
}

@mixin maxW-Tablet {
  @media screen and (max-width: $tabletMax) {
    @content;
  }
}

@mixin minW-Tablet {
  @media screen and (min-width: $tabletMin) {
    @content;
  }
}

@mixin maxW-Dt {
  @media screen and (max-width: $desktopMax) {
    @content;
  }
}

@mixin minW-Dt {
  @media screen and (min-width: $desktopMin) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
